<div class="col-xs-10 col-xs-offset-1">
	<h1>About Splurty</h1>

	<p>
		Splurty was created by <a target="_blank" href="http://github.com/erinekim">Erin Kim</a> who wanted to create a personal online collection of quotes that are thought-provoking and inspiring for artists.
	</p>
	<p>
		Feel free to add a quote that inspires you, or browse through this collection before you start your work. 
	</p>
</div>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'erin.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Erin Kim</h2>
	<br />
	<p>Erin Kim is an aspiring web developer who wants to create web applications that will make learning about art and collecting art so much more accessible to everyone. On her free time she loves catching up with friends, eating good food and just enjoying the finer things in life! </p> 
</div>
<br class="clear"
