<h2>
	<span>SPLURTY / No. <%= @quote.id %></span>
	Here's some of the best <u>advice from artists</u> that you can get!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />