<h2>
	<span>SPLURTY / <%= @quote.unique_tag %></span>
	Great thoughts from the greatest minds. 
</h2>

<h1 class="col-xs-10 col-xs-offset-1"><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />